<div class="example-container">
  Please enter your Url
  <div *ngIf="result">
    ShortenUrl: <a [href]="resUrl">
      {{redirectHost + '/' + result.shortId}}
    </a>
  </div>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <mat-form-field>
      <input placeholder="Enter Url" matInput formControlName="url" />
    </mat-form-field>
    <div *ngIf="controls.url.touched && controls.url.errors" class="invalid-feedback">
      <div *ngIf="controls.url.errors.required">Url is required</div>
      <div *ngIf="controls.url.errors.urlValidator">Url looks incorrect (www.example.com)</div>
    </div>
    <mat-form-field>
      <input placeholder="Add your own" matInput formControlName="shortId" />
    </mat-form-field>
    <div *ngIf="controls.shortId.touched && controls.shortId.errors" class="invalid-feedback">
        <div *ngIf="controls.shortId.errors.minlength || controls.shortId.errors.maxlength">
          Value must have length 6
        </div>
      </div>
    <button mat-stroked-button [disabled]="form.invalid || onLoad" color="primary">
      create short url
    </button>
  </form>
</div>
